/*
Colors:
dark red: #9C4668
pink: #ff8ae2
blue: #93c2db
darkblue: #072540

font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
*/


/*General styles which affect all pages and elements*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #072540;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter', sans-serif;
    border-bottom: 2px solid transparent;
    transition: transform 330ms ease-in-out;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #ff8ae2;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h1 #the {
    font-size: 1rem;
    letter-spacing: 1rem;
}

h1 #super {
    color: #ff8ae2;
    text-transform: lowercase;
    font-size: 5rem;
    line-height: 0.7;
}

p {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 1em;
    line-height: 1.6;
}

section {
    text-align: center;
    padding-top: 50px;
}

section:last-of-type {
    margin-bottom: 50px;
}


/*Navigation styling*/

#content {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

#bars {
    padding-top: 20px;
    display: none;
}

nav li {
    margin: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover,
.nav-active {
    padding: 1.4em 1.3em 0.8em;
    font-weight: bold;
    color: #9C4668;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Card styling*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin: 40px 5px;
    padding: 15px;
    max-width: 180px;
    background-color: #ffffff;
    border-radius: 10px;
    transform: scale(0.9);
    transition: transform 330ms ease-in-out;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
}

.card a {
    color: #072540;
    text-decoration: none;
}

.card:hover,
.card:focus {
    transform: scale(1);
    transition: transform 330ms ease-in-out;
}

h3 {
    margin-bottom: 0;
}


/*Contributions page*/

.contribute-card {
    text-decoration: none;
    color: #9C4668;
    font-size: 2.5rem;
    font-weight: bold;
}

ol {
    text-align: left;
    max-width: 500px;
    margin: 40px auto;
}

.page h3 {
    margin-top: 40px;
    font-size: 2rem;
}

.page li+li {
    margin-top: 20px;
}

.how-to {
    border: 2px solid #ff8ae2;
    padding: 10px;
    max-width: 600px;
    margin: 40px auto;
}


/*Fork code page*/

.fork-clone-code li+li {
    margin-top: 40px;
}

.GH-img {
    margin-top: 20px;
}

@media (max-width: 730px) {
    #bars {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: -10px;
    }
    #content {
        display: none;
        text-align: center;
        padding-top: 50px;
    }
}