.content {
    width: 100%;
    text-align: center;
    overflow: auto;
    background-color: rgba(75, 1, 117, 0.801);
    border-radius: 20px;
    opacity: 0.9;
    color: white;
    font-weight: 700;
}

.title {
    align-content: center;
    padding: 20px 0;
    text-align: center;
    margin: auto;
    width: 70%;
}
