
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.homepage-btn{
    background-color: lightblue;
    color: white;
    font-weight: 00;
    margin-left: 630px;
    border-radius: 0.4em;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    background-color: seashell;
    margin-left: 30px;
    margin-right: 30px;
}
body p{
    font-family: 'Courier New', Courier, monospace;
}
body h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: large;
}