body{
    margin:0;
    text-align: center;
    font-family: 'Architects Daughter', cursive
    
}
h1{
    margin:50px auto 0 auto;
    font-size: 3.625rem;
    font-family: 'Sansita Swashed', cursive;
    color: #f5ae0a ;
}
.top-div {
  text-align: center;
  font-weight: bold;
}
a{
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    text-align: center;
    color: #f2a711;
}
a:hover {
  color: #f02005;
}   
.bottom-container{
    padding-top: 100px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 500px;
}