a {
	color:blue;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: none;
}

.button{
	border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn{
	background-color: #1b7dde;
  color: white;
  border: 2px solid black;
	border-radius: 30px;
}

.btn:hover{
	background-color: #075AAB;
 	color: white;
	border-radius: 10px;
}

body {
	background-color: beige;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

footer {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h1 {
	margin-bottom: 0.5rem;
	margin-top: 3rem;
}

h2 {
	color: #075AAB;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

h3 {
	margin-bottom: 0;
	margin-top: 2rem;
}

h4 {
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

h5 {
	margin-top: 0.5rem;
}

hr {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

ul {
	display: table;
	margin: 0 auto;
	text-align: left;
}

p {
	margin-left: 100px;
	margin-right: 100px;
}
