body {
    background-color: #171717;
    font-family: monospace;
    font-size: large;
    color: blanchedalmond;
}
a:link{
    text-decoration: none;
    font-style: italic;
    color: bisque;
}
a:hover {
    text-decoration: line-through;
}

a:active {
    text-decoration: wavy;
}