
body{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(230, 252, 253);
}
a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    background: rgb(162, 162, 238);
    padding: 10px 20px;
    transition: background .3s;
    border-radius: 2px;
    box-shadow: 2px 2px 2px;
}
a:hover{
    color: rgb(255, 255, 255);
    background: rgb(64, 64, 204);
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    width: 70%;
    text-align: center;
}
p{
    width: 60%;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}