.body {
  text-align: center;
  line-height: 40px;

  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgb(92, 0, 128) 0%, white 100%);
  background-blend-mode: color-dodge;
}

i:hover {
  color: blueviolet;
}
