@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(162deg, rgba(26,29,48,1) 49%, #072540 100%);
    padding: 20px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}
a {
    color: #ff8ae2;
}
h1 {
    font-size: 36px;
    margin: 25px 0;
    color: #ff8ae2;
}
h2 {
    font-size: 24px;
    margin: 20px 0;
    color: #fff;
}
section {
    max-width: 600px;
    margin-bottom: 50px;
}
p {
    font-size: 16px;
    margin: 16px 0;
    color: #fff;
    line-height: 1.5;
}
button {
    margin-top: 10px;
    background-color: black;
    border: 1px solid #ff8ae2;
    color: #ff8ae2;
    padding: 5px 10px;
    transition: padding .2s ease;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    padding: 5px 20px;
}