@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;700&family=Shadows+Into+Light&display=swap");

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
  padding: 2rem 5rem;
  padding-bottom: 6em;
  background: #43c6ac; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #191654,
    #43c6ac
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #191654,
    #43c6ac
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn-home {
  font-size: 2rem;
}

#title {
  min-height: 3rem;
  font-family: "Sansita Swashed", cursive;
  color: white;
}

.nonscroll-contents {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.btn-click {
  width: 10rem;
  height: 10rem;
  font-family: "Shadows Into Light", cursive;
  font-size: 2rem;
  color: #191654;
  background-color: white;
  border: none;
  border-radius: 50%;
  transition: transform 0.1s ease;
}

.btn-click:hover {
  transform: scale(0.8);
  opacity: 0.9;
}

.scroll-contents {
  max-width: 100rem;
}

body,
.scroll-contents {
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar,
.scroll-contents::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.scroll-item {
  padding: 1em;
  margin-bottom: 27em;
  border-radius: 10px;
  color: #191654;
  font-family: "Shadows Into Light", cursive;
  background-color: white;
}
.scroll-item:first-child {
  margin-top: 20em;
}

@media screen and (min-width: 700px) {
  .scroll-item {
    padding: 1.2em;
    font-size: 1.5em;
  }
}

footer {
  position: absolute;
  bottom: 2rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

footer i {
  display: inline-block;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}
