body{
    font-family: 'Open Sans',sans-serif;
    background-color: paleturquoise;
}
#container {
    width: 1000px;
    height: 550px;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('cal-background.jpg');
    margin: 20px auto;
    /* background-repeat: no-repeat; */
    
}
#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    
}
#result {
    height: 120px;
}
#keyboard {
    height: 400px;
}
#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}
.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    border-weight: bold;
    font-size: 15px;
    
}
.operator{
    /* border:2px solid chartreuse; */
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 102%);
}

.number, .empty{
    background-color: #eaedef ;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;

}
.number:focus, .empty:focus, .operator:focus {
    outline: 0;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #7d9330;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #7d9330; 
}
button:nth-child(12){
    font-size: 20px;
    background-color: #7d9330;
}
button:nth-child(16){
    font-size: 20px;
    background-color:#7d9330; 
}
button:nth-child(20){
    font-size: 20px;
    background-color:#7d9330;
}