body {
    background-color: lightblue;
  }
  body
  {border-style: solid;
    text-align: center;
   }
   h1{
      color: green; 
   }
   
a:link, a:visited {

  background-color: #f44336;

  color: white;

  padding: 14px 25px;

  text-align: center; 

  text-decoration: none;

  display: inline-block;

}

a:hover, a:active {

  background-color: pink;

}
