header::before{
    content: '';
    background: url('https://images.unsplash.com/photo-1595864968156-b643d9028611?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80') center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
p{
    font-size: 25px;
    padding: 40px 40px;
    text-align: center;
    text-shadow: black 0px 0px 5px;

}
h1{
    margin-top: 30px;
font-size: 2.4rem;
text-shadow: black 2px 2px 10px;

}
a{
    text-decoration: none;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    
}
.btn{
    height: 80px;
    margin: 20px 7px;
}
