
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffcc00;
}

.container
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card
{
    padding: 10px;
    border:2px dotted #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation
{
    0%
    {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
    100%
    {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);

    }
}


.btn
{
    padding: 15px;
}

.btn a
{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000;
    padding:5px 10px;
    border-radius: 5px;
}

.img img{

    width: 100%;
    transition: 1s;
}

img:hover
{
    transform: scale(.5);
}

.heading, .experience
{
    text-align: center;
}

hr
{
    width: 30%;
    height: 2px;
    background-color: #fff;
}