body{
    margin: 0px;
    padding: 0px;
    
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Caveat', cursive;
    font-size: 40px;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    line-height: 60px;
}

h1{
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Architects Daughter', cursive;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    text-align: center;
    /* background-color: cornsilk; */
    color: blueviolet;
    background-color: background-color: #D9AFD9;
   
}

p{
    margin-left: 5%;
    margin-right: 5%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: greenyellow;
}

div.card {
    width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
    margin: 0 auto;
  }